<!DOCTYPE html>
<html>
<head>
    <title><%= "CS355" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= "CS355" %></h1>
<i><subtitle> Welcome to <%= "CS355" %></subtitle></i> <br>