<% include partials/header %>
<img src="http://www.sonomatech.com/assets/staff/43.jpg" />
<p> <strong> This is a list of prevalent links: </strong> </p>
<a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a> <br>
<a href="http://localhost:3000/helloworld.html">Absolute Link Example</a> <br>
<a href="helloworld.html">Relative Link Example</a> <br>
<a href="/templatelink">Template Link Example</a> <br>

<br>
<a href="/accounts/?account_id=1">Account By ID</a><br>
<a href="/accounts/all">All Accounts</a><br>
<br />
<a href="/schools/?school_id=1">School By ID</a><br>
<a href="/schools/all">All Schools</a><br>
<br>
<a href="/userJobView/userJobView"> UserJobView</a><br>

<p> <strong> Lab 9 Stuff: </strong></p>
<a href="users/create"><em>Create New User</em></a>
<br />
<a href="uni/create"><em>Create New School</em></a>
<br />
<a href="company/create"><em>Create New Company</em></a>
<br />

<% include partials/footer %>
