<!DOCTYPE HTML>
<html>
<head>
    <title>Absolute Link</title>
</head>
<body>
<span style="font-weight:bold">Hello,World!</span>
<img src="http://www.bloodygoodhorror.com/bgh/files/reviews/caps/vampires-kiss.jpg"/>
</body>
</html>